// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "lists";

body {
    background-image: url('https://c1.wallpaperflare.com/preview/879/785/83/auditorium-stadium-bench-chairs.jpg');
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-position: center;
    background-size: cover;
    color: white;
}
